h2 {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 2px;
}
button {
    min-width: 180px;
    font-family: "Nunito", sans-serif;
    margin: 6px;
    border-radius: 8px;
    border: 0px;
    color: white;
    padding: 6px;
    background-color: #7b95e9;
}

button:hover {
    background-color: #006eff;
    cursor: pointer;
}

body {
    background-color: black;
}

#wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#settingsWrapper {
    width: 100%;
    margin: 4px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

hr {
    color: white;
    background-color: white;
    border: 1px solid white;
    height: 1px;
    width: 70%;
}

.itemStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 250px;
    word-break: break-all;
    margin: 0;
    border-radius: 10px;
    margin-top: 6px;
    padding: 8px;
    color: white;
    background-color: #2d2e31;
    font-family: "Nunito", sans-serif;
}

#listContainer {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #928989;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}

button:focus {
    border: none;
    outline: none;
}
